<h2>Example 3 - Action Caching (without layout) - <%= Time.now %></h2>

<p>The same as the previous example but the layout is now excluded from the cache</p>

<p> Even though the action and rendered example is cached, the layout is not</p>
