<h2>Example 1 - No Caching - <%=Time.now%></h2>

This page has no explicit caching. A normal controller rendering an ERB file.

<p>Take note though that an "ETag" header has been set in the response of the "example/1" resource.</p>

<p>This not a cache, but it is a unique hash for the contents of the requested resource.</p>

<p>The "Etag" can be used to aid in maintaining a cache in a browser, webserver, cdn or other </p>
